body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: url('../image/black.jpg') ; repeat center center #fafafa;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
	font-family: 'LeagueGothic', Arial, Helvetica, sans-serif;
	line-height: 100%;
}

h1 {
	font-size: 80px;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
}

a {
	color: #000;
	text-decoration: none;
	padding: 0px;
}

a:hover {
	background: #ff0;
}

a, a:link, a:focus, a:visited {
	outline: none;
}

.esc {
	position: relative;
	clear: both;
	width: 100%;
}

header, footer {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

header {
	text-align: center;
}

#logo {
	position: relative;
	margin: 20px auto;
	width: 960px;
	text-align: center;
}

#logo h1 {
	font-size: 100px;
	position: relative;
	margin: 20px auto auto auto;
	display: block;
	float: left;
}

#logo h1 span {
	text-transform: none;
}

#logo a {
	background: none;
	display: inline;
	margin: 0px;
}

#logo img {
	position: relative;
	cursor: pointer;
	display: block;
	float: left;
	margin-top: 10px;
}

#logo h2 {
	font-size: 50px;
}


#content {
	position: relative;
	margin: 50px auto;
	width: 960px;
}
/********************************
 * generic als elements styling
 ********************************/
.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}


.als-prev{
	position: absolute; cursor: pointer;
	clear: both;
}
.als-next{
	position: absolute;  	cursor: pointer;
	clear: both;
} 




/**************************
 * specific als elements
 * styling for #lista1
 **************************/

#lista1 {
	margin: 10px auto 10px auto;
}

#lista1 .als-item {
	margin: 0px 30px;
	min-height: 152px;
	min-width: 10px;
}

#lista1 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista1 .als-prev, #lista1 .als-next {
	top: 58px;
	width: 15px;
	height: 22px;
}

#lista1 .als-prev {
	left: 90px;
}

#lista1 .als-next {
	right: 100px;
}