/*responsive */
#con-nav {
	position:fixed;
	opacity:1;
	height:90%;
	padding-top:10%;
	padding-left:2%;
	padding-right:1%;
	background-color: #2E2E2E;
	z-index : 3;
}

.con-data {
    color : grey;
    text-align:center;
}


@media (max-width : 768px) {
	#con-nav {
		display : none;
	}
}

/*responsive end*/

	.scroll-pane {
            overflow: auto;
    }

    @media (max-width : 768px) {
        .scroll-pane {
            overflow-x : hidden;
            overflow-y : visible !important;
        }
        ::-webkit-scrollbar {		
   			width: 34px;		
			height: 30px;	/*20px*/
		}	
    }

	.each{
		width:250px;
		height:250px;
		margin: 20px;
		float:left;
		
		background-color: black;
	}
	.each1{
		width:150px;
		height:150px;
		float:left;
		margin: 20px;
		
		background-color: black;
	}
	.imagesnew {
		height:auto;
		float:left;	
		text-align:center;
	}

	.imagesnew > img {
		max-width : 180px;
	}

	@media (max-width : 768px) {
    	.imagesnew  > img{
        	display : none;
    	}
	}

	.images{
		width:80%;
		height:80%;
		margin-left:10%;
		margin-right: 10%;
		margin-top:2%;
		-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
	}
	.images:hover {
  		width: 90%;
  		height: 90%;
  		margin-left:5%;
	}

	.text-image{
		text-align: center;
		white-space: normal;
	}
	.name{
		color: #F2F2F2;
		font-size:20px;
	}
	.name1{
		color: #F2F2F2;
		font-size:15px;
	}
	.post1{
		color:#A4A4A4;
		font-size:13px;
	}
	.wing{
		width:100%;
		background-color: #2E2E2E;
	}
	.text-wing{
		text-align:center;

		-webkit-text-stroke: 1px black;
		
		font-size: 30px;
   		color: #F2F2F2;
	  	text-shadow:
		   	-1px -1px 0 #A4A4A4,  
		    1px -1px 0 #A4A4A4,
		    -1px 1px 0 #A4A4A4,
		 	1px 1px 0 #A4A4A4;
   }
   .member-img{
	   	margin-top:30%;
	   	margin-left:10%;
	   	padding-bottom: 25%;
   }

