/*for chrome and other browsers*/
@media (min-width : 768px) {
  ::-webkit-scrollbar {		
    width: 100%; /*12px*/		
	  height: 30px;	/*20px*/
  }		
}
::-webkit-scrollbar-track {		
    background: url('../image/check_scroll.png');		
	background-size: 2em;/*9em*/		
}		
::-webkit-scrollbar-thumb {		
  background: url('../image/scroll_tmb_hor.png') no-repeat center;
  background-size: 46px 37px;
    /*background-color: rgba(178, 74, 0, 0.55);*/		
}		
::-webkit-scrollbar-thumb:hover {		
    /*background-color: rgba(178, 74, 0, 0.7)		*/
}
/***Loader***/
.loader {
  background-color: #2E2E2E;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index : 300;
}

#bg {
  background-image: url('../image/loader-bg.jpg');
  position: absolute;
  top: 50%;
  left: 0;
  height : 50px;
  width : 100%;
}

#bar {
  position : absolute;
  z-index : 5;
  top : 50%;
  background-color : #B24A00;
  width : 0%;
  height : 50px;
  opacity : 0.6;
}
/***\Loader***/


/***home page ***/
#map-canvas {
  width: 600px;
  height: 400px;
}
	  
.social_links {
  margin-left: 5%;
  margin-top: 10%;
  width: 20%;
  float: left;
}

.map-home {
  margin-right: 2%;
  margin-top: 7%;
  float: right;
}

.home-container {
  width:300%;
  height:100%;
  margin-left:0%;
  color:white;
}

.home-canv {
  background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/glasses.jpg');
  width:33%;
  height:100%;
  float:left;
}

.effe-title {
  width:50%;
  height:35%;
  z-index:2;
  position:absolute;
  margin-left:25%;
  margin-top:15%;
}

.about-cont {
  background-image:url('../image/home_2.jpg');
  width:33%;
  height:100%;
  float:left;
}

.home-about-content {
  margin: 7% 5% 0% 45%;
  text-align: justify;
}

.contact-cont {
  background-image:url('../image/home_3.jpg');
  width:34%;
  height:100%;
  float:left;
}


/***\home page ***/
.nav-menu {
  position:fixed;
  z-index:20;
  margin-top:6px;
  box-shadow:4px 4px 20px #888888;
}


.text1,h3{
  color:#FF0000;
  font-size:24px;
  font-family:Algerian,cursive;
}

#menu{
  background:black;
  color:white;
  width:300px;
  margin-left:6px;
  padding:10px;
  border-radius:5px;
  border-top: 2px dashed #888888;
  box-sizing: border-box;
}


@media (max-width : 768px) {
  #menu {
    width : 768px;
  }
}

#menu:hover{
	color:#FF0000;
	font-size:17px;
	font-family:Palatino Linotype,sans-serif;
}

#box{
  background:black;
  height:0px;
  width:0px;
  margin-left:6px;
  color:white;
  border-radius:5px;
}

#btn1 {
  width:25px;
  height:15px;
  margin-left:60%;
}

.menu-options{
  position:absolute;
  margin-left:-148px;
  left:-130px;
}

a:link    {color:#E6E6E6; background-color:transparent; text-decoration:none}
a:visited {color:#E6E6E6; background-color:transparent; text-decoration:none}
a:hover   {color:#848484; background-color:transparent; text-decoration:none}
a:active  {color:#E6E6E6; background-color:transparent; text-decoration:none}

.nav-wrap{
	height:0;
	width:0;
}

/*#text2{
	margin-top:80px;
}
#text3{
	margin-top:100px;}
#text4{
	margin-top:120px;}
#text5{
	margin-top:140px;margin-left:-190px;}
#text6{
	margin-top:160px;}
*/	

/*css for fix-hover-style-on-menu*/

#text5{
margin-left:-208px;
}

*, :before, :after {
  box-sizing: border-box;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.unstyled a {
  text-decoration: none;
}

.list-inline {
  overflow: hidden;
}

.list-inline li {
  float: left;
}

.header {
  position: fixed;
  left: 5px;
  top:80px;
  bottom: 0;
  width: 17em;
  height:2em;
  
}

.main-nav ul {
  border-top: solid 1px #3C3735;
}

.main-nav li {
  border-bottom: solid 1px #3C3735;
}

.main-nav a {
  padding:2.5px 10px;
  color: #DFDBD9;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:1.45em;
  text-align: left;
  text-transform:capitalize;
}

.main-nav a:hover {
  color: #ff0000;
}

.list-hover-slide li {
  position: relative;
  overflow: hidden;
  width:21.3em;
}

.list-hover-slide a {
  display: block;
  position: relative;
  z-index:20;
  transition: .35s ease color;
  height:1.8em;
}

.list-hover-slide a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #FF0000;
  background: #3C3735;
  transition: .35s ease left;
}

.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
}