/*for chrome and other browsers*/
::-webkit-scrollbar {		
   width: 100%; /*12px*/		
	height: 30px;	/*20px*/
}		
::-webkit-scrollbar-track {		
    background: url('../image/check_scroll.png');		
	background-size: 2em;/*9em*/		
}		
::-webkit-scrollbar-thumb {		
  background: url('../image/scroll_tmb_hor.png') no-repeat center;
  background-size: 46px 37px;
    /*background-color: rgba(178, 74, 0, 0.55);*/		
}		
::-webkit-scrollbar-thumb:hover {		
    /*background-color: rgba(178, 74, 0, 0.7)		*/
}
.loader {
  background-color: #2E2E2E;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index : 300;
}

#bg {
  background-image: url('../image/loader-bg.jpg');
  position: absolute;
  top: 50%;
  left: 0;
  height : 50px;
  width : 100%;
}

#bar {
  position : absolute;
  z-index : 5;
  top : 50%;
  background-color : #B24A00;
  width : 0%;
  height : 50px;
  opacity : 0.6;
}

.nav-menu {
  position:fixed;
  z-index:20;
  margin-top:6px;
}

#menu{
	background:black;
  color:white;
  width:270px;
  margin-left:6px;
  padding:10px;
	border-radius:5px;
  border-top: 1px solid yellow;
  box-sizing: border-box;
}

@media (max-width : 768px) {
  #menu {
    width : 768px;
  }
}

#menu:hover{
	color:#848484;
}

#box{
	background:black;
  height:0px;
  width:0px;
  margin-left:6px;
  color:white;
  border-radius:5px;
}

#btn1 {
  width:25px;
  height:15px;
  margin-left:60%;
}



.menu-options{
	position:absolute;
  margin-left:-130px;
}

a:link    {color:#E6E6E6; background-color:transparent; text-decoration:none}
a:visited {color:#E6E6E6; background-color:transparent; text-decoration:none}
a:hover   {color:#848484; background-color:transparent; text-decoration:none}
a:active  {color:#E6E6E6; background-color:transparent; text-decoration:none}
