body.fullscreen_layout {
	background:#4f4d57;
}
header,
.pre_footer,
.fullscreen_title{
	background:#2a282f;
}
.fullscreen_layout header {
	background:#2a282f;	
}
::selection {background:#ff5474;}
::-moz-selection {background:#ff5474;}

.highlighted_colored,
.widget_nav_menu ul li a:hover,
.widget_archive ul li a:hover,
.widget_pages ul li a:hover,
.widget_categories ul li a:hover,
.widget_recent_entries ul li a:hover,
blockquote.type1:before,
.shortcode_accordion_item_title:hover, 
.shortcode_toggles_item_title:hover,
.feedback_form .feedback_go:hover, 
.feedback_form .feedback_reset:hover,
#commentform #reset:hover,
#commentform #submit:hover,
.btn_login:hover,
.module_iconboxes:hover,
.carousel_fadder,
.gallery_fadder,
.shortcode_promoblock .promo_button_block a,
.shortcode_tab_item_title:hover,
.skills_list li .skill_div,
.price_item.most_popular .price_item_title,
.price_item .price_item_btn a:hover,
.price_item.most_popular .price_item_btn a,
.shortcode_button.btn_type4,
.pagerblock li a:hover,
.widget_tag_cloud a:hover,
.fs_thmb_viewport .fs_thmb_list li .fs_thmb_fadder,
.fs_grid_module .grid_gallery-item .item_hover-img .item_hover-fadder {
	background-color:#ff5474;
}
.glass_header header,
.fs_title_wrapper {
	background:rgba(42,40,47,0.9);
}

footer,
.fs_gallery_container {
	background:#4f4d57;
}
header ul.menu > li > a {
	color:#f5f5f5;
}

.featured_slider .item .ico_gallery,
.gallery_item .ico_gallery,
.columns1 .element:hover .post_link,
.fs_blog_module .blog_item  .featured_image_full .ico_gallery,
.fs_grid_module .grid_gallery-item .item_hover-img a.post_link {
	background-image:url(../img/frame_icons.png);
	background-position:-480px -120px;
}
.fs_grid_module .grid_gallery-item .item_hover-img a.prettyPhoto,
.columns1 .element:hover .prettyPhoto {
	background-image:url(../img/frame_icons.png);
	background-position:-540px -120px;
}
.module_line.faded:before {
	background:#ffffff;
}

.fs_blog_module {
	background:#46434e;
}

.fs_title_wrapper h1,
.fs_title_wrapper h6 {
	color:#f5f5f5;
}

footer .copyright {
	color:#cdcbd3;
}
#footer_bar .recent_posts_content .post_title:hover {
	color:#ffffff!important;
}

.module_line .shortcode_promoblock h3,
.module_line .shortcode_promoblock h6 {
	color:#46434e;
}

#footer_bar .twitter_list li a:hover,
.fullscreen_title h1 {
	color:#ffffff;
}
.twitter_list li a:hover {
	color:#6e6c74;
}
.fullscreen_block,
.image_background {
	background-color:#4f4d57!important;
}

.fullscreen_block .filter_block {
	background:#ffffff;
	background:rgba(255,255,255,0.8);
}
.mobile_menu_wrapper  {
	background:none;
}