html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

section {
	float:left;
	display:block;
	height:100%;
	padding:0;
	margin:0;
}

#section-section1 {
	 background-image: url('../image/theme1.jpg');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
#section-section2 {
	 background-image: url('../image/theme2.jpg');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
#section-section3 {
	 background-image: url('../image/theme3.jpg');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
#section-section4 {
	 background-image: url('../image/frame1done.png');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
#section-section5 {
	 background-image: url('../image/frame2done.png');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
#section-section6 {
	 background-image: url('../image/frame3done.png');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
#section-section7 {
	 background-image: url('../image/frame3done1.png');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
#section-section8 {
	 background-image: url('../image/theme2.jpg');
    	 background-position: center; 
	 background-size: 100% 100%;
    	 background-repeat: no-repeat;
}
.horizon-prev, .horizon-next {
position: fixed;
top: 50%;
margin-top: -24px;
z-index: 9999;
}
.horizon-prev {
left: 20px;
}
.horizon-next {
right: 20px;
}