/*div.horizontal{
	 width: 200%;
    height: 100%;
    overflow: auto;
}
.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
article {
    width:100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
*/

html, body {
    width: 100%;
    height: 100%;
   
}

div.horizontal {
    display: block;
    width: 100%;
    position: static;
    height: 100%;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

@media (min-width : 768px) {
  .table > section {
    width: 768px; 
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border : 1px dotted black;
    /*padding-left: 5%;*/
    padding: 0% !important;
  }

  div.horizontal {
    overflow-y:hidden;
  }
}

.table > section {
    vertical-align: middle;
    text-align: center;
    border: 1px dotted black;
    padding : 30%;
}

.row {
    width : 100%;
    height : 100%;
    padding : 0% 15% 0% 15%;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
    padding : 0% 0% 0% 0%;
}

.icon {
  display:block;
  overflow: hidden;
  margin: 6px;
  width: 96px;
  height: 96px;
  font-size:0;
}

.icon.twitter{
		margin-left:160px;
}
.icon.effe{
		margin-left:160px;
}
.icon.facebook{
	margin-top:-40px;
	margin-left:25px;
}
.icon.youtube{
	margin-left:25px;
}

.icon-border {
  position: relative;
}

.icon-border::before,
.icon-border::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.icon-border::before {
  z-index: 1;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
}

.icon-border::after {
  z-index: 2;
  background: url("../image/icons.png");
  background-image: url("../image/icons.svg"), none;
}

/* facebook */
.icon-border.facebook::before {
  box-shadow: inset 0 0 0 200px #3b5998;
}

.icon-border.facebook:hover::before {
  box-shadow: inset 0 0 0 4px #3b5998;
}

.icon-border.facebook::after {
  background-position: 0 0;
}

/* twitter */
.icon-border.twitter::before {
  box-shadow: inset 0 0 0 48px #4099ff;
}

.icon-border.twitter:hover::before {
  box-shadow: inset 0 0 0 4px #4099ff;
}

.icon-border.twitter::after {
  background-position: -96px 0;
}

/*youtube*/
.icon-border.youtube::before {
  box-shadow: inset 0 0 0 48px #d34836;
}

.icon-border.youtube:hover::before {
  box-shadow: inset 0 0 0 4px #d34836;
}

.icon-border.youtube::after {
  background-position: -192px 0;
}

/*effe*/
.icon-border.effe::before {
  box-shadow: inset 0 0 0 48px #00004C;
}

.icon-border.effe:hover::before {
  box-shadow: inset 0 0 0 4px #00004C
}

.icon-border.effe::after {
  background-position: -384px 0;
}
