/* *** F O N T   F A M I L I E S  *** */

@font-face {
    font-family: 'CoreIconsRegular';
    src: url('fonts/coreicons-webfont.eot');
    src: url('fonts/coreicons-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/coreicons-webfont.woff') format('woff'),
         url('fonts/coreicons-webfont.ttf') format('truetype'),
         url('fonts/coreicons-webfont.svg#coreiconsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
}

.call_us .ico,
.ico,
.shortcode_iconbox .ico span {
    font-family: 'CoreIconsRegular';
}



/* ***  F O N T   S E T T I N G S  *** */

p, td, div,
blockquote p { 
	font-size:13px; 
	line-height:16px;
}

header .top_line .call_us,
header .top_line .slogan {
	line-height:14px;
	font-size:11px;
}

h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	text-decoration:none!important;
	padding:0;
	color:#46434e;
}

header nav ul.menu > li > a,
.widget_nav_menu ul li a,
.widget_archive ul li a,
.widget_pages ul li a,
.widget_categories ul li a,
.widget_recent_entries ul li a,
.dropcap,
.widget_mailchimpsf_widget .mc_submit,
.shortcode_accordion_item_title, 
.shortcode_toggles_item_title,
.feedback_form .feedback_go, 
.feedback_form .feedback_reset,
#commentform #reset,
#commentform #submit,
.btn_login,
.shortcode_promoblock .promo_button_block a,
.shortcode_tab_item_title,
.price_item .price_item_btn a,
.shortcode_button,
.filter_navigation ul li ul li a {
	font-family:'Open Sans', sans-serif!important;
}

* { 
	font-family:Arial, Helvetica, sans-serif;
	color:#6e6c74;
}

input, button, select, textarea {
	font-family:Arial, Helvetica, sans-serif!important;
}

h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family:'Open Sans', sans-serif!important;
}

h1, h1 span, h1 a {
	font-size:32px;
	line-height:34px;
}
h2, h2 span, h2 a {
	font-size:28px;
	line-height:30px;
}
h3, h3 span, h3 a {
	font-size:24px;
	line-height:26px;
}
h4, h4 span, h4 a {
	font-size:20px;
	line-height:22px;
}
h5, h5 span, h5 a {
	font-size:18px;
	line-height:20px;
}
h6, h6 span, h6 a {
	font-size:16px;
	line-height:18px;
}

@media only screen and (max-width: 760px) {
	
}


/* ***  C O L O R   O P T I O N S  *** */

header ul.menu > li > a {
	color:#464d52;
}