#menu{
	height:3%;
	width:8%;
	background-color:white;
	border:2px solid blue;
	text-align:center;
	font-size:20px;
	margin-top:2%;
	padding:1px;
}
#title{
	font-family: 'Orbitron', sans-serif;
	}
.main{
	background-color:#737171;
	height:38%;
	width:100%;
	top:15px;
	margin-top:0;
}
ul.menu_options{
	text-decoration:underline;
}
.content{
	text-align:left;
	margin-left:2%;}
#icon{
	display:inline-block;
	height:8%;
	width:6%;
	margin:1%;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}
map:hover{
	color:#FFFF00;
}
map:visited{
	color:aqua;
}
#ass_sponsors{
	height:6.2%;
	width:30%;
	background-color:#CC6699;
	text-align:center;
	letter-spacing:2px;
	margin:35px;
	position:absolute;
	top:110%;
	left:36%;
	font-size:30px;
	padding:2.5px 2px 2px 2px;
	float:center;
}
#other_sponsors{
	height:6.2%;
	width:30%;
	background-color:#CC6699;
	text-align:center;
	letter-spacing:2px;
	margin:35px;
	position:absolute;
	top:160%;
	left:36%;
	font-size:30px;
	padding:2.5px 2px 2px 2px;
	float:center;
	}
.others{
	position:absolute;
	top:185%;
}
.registration{
	position:absolute;
	top:260%;
	padding:2px;
	}
#reg_heading{
	color:#FF9933;
	font-size:26px;
	text-align:center;
	font-weight:700;
	text-decoration:underline;
	letter-spacing:2.5px;
	text-shadow:2px 2px #663D14;
	}
	
ul.reg{
	list-style-type:none;
	}
	
ul.list{
	margin-left:150%;
	list-style-type:square;
	margin-bottom:25%;
	margin-top:-17%;
	color:#00B200;
	}
.registration{
	position:absolute;
	top:260%;
}
h2#name{
	color:#85335C;
	}
	
#cord{
	margin-top:15%;
	position:relative;
	font-size:18px;
	text-align:center;
	height:12%;
	text-align:left;
	font-family:Verdana;
	letter-spacing:1px;
	color:#CC3300;
	font-weight:700;
	}
	
.gal{
	position:absolute;
	top:620%;
	left:6%;
	font-size:28px;
	color:#A31919;
	}
	
.gal:hover{
	color:#CC8080;}